@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-base {
    @apply rounded-lg bg-white;
  }

  .card-hover {
    @apply transition-all duration-300 hover:shadow-lg hover:-translate-y-0.5;
  }
}

@layer utilities {
  .bg-size-200 {
    background-size: 200% 200%;
  }
  .bg-pos-0 {
    background-position: 0% 0%;
  }
  .bg-pos-100 {
    background-position: 100% 100%;
  }
}

